
body {
	font-family: sans-serif;
	font-size: 14px;
}

.capital-city-guess-information {
	font-size: 1.2rem;
	font-weight: bold;
}

.capital-city-guess {
	background-color: grey;
	border-radius: 4px;
}

#title-tail {
	color: green;
}

#capital-city-guess-footer {
	font-style: italic;
}

* {
	box-sizing: border-box;
	text-align: center;
}
